* {
  text-decoration: none;
  padding: 0;
  margin: 0;
  list-style: none;
}

.coeur__index {
  position: relative;
}
.coeur__index .fa-solid {
  position: absolute;
  z-index: 2;
  line-height: 24px;
  right: 1.5em;
  bottom: 1em;
  color: transparent;
  background: -webkit-linear-gradient(90deg, #9356DC 0%, #FF79DA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: opacity 400ms ease;
}
.coeur__index .fa-solid:hover {
  opacity: 1;
}
.coeur__index .fa-regular {
  position: absolute;
  z-index: 1;
  line-height: 24px;
  right: 1.5em;
  bottom: 1em;
}

.coeur__restos {
  position: relative;
  right: 1.5em;
}
.coeur__restos .fa-solid {
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: -0.5em;
  line-height: 24px;
  color: transparent;
  background: -webkit-linear-gradient(90deg, #9356DC 0%, #FF79DA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: opacity 400ms ease;
}
.coeur__restos .fa-solid:hover {
  opacity: 1;
}
.coeur__restos .fa-regular {
  position: absolute;
  z-index: 1;
  line-height: 24px;
  right: 0;
  bottom: -0.5em;
}

.menu__card {
  animation: menu-card 1000ms forwards;
}
.menu__card--1 {
  animation-delay: 100ms;
}
.menu__card--2 {
  animation-delay: 200ms;
}
.menu__card--3 {
  animation-delay: 300ms;
}
.menu__card--4 {
  animation-delay: 400ms;
}
.menu__card--5 {
  animation-delay: 500ms;
}
.menu__card--6 {
  animation-delay: 600ms;
}
.menu__card--7 {
  animation-delay: 700ms;
}
.menu__card--8 {
  animation-delay: 800ms;
}
.menu__card--9 {
  animation-delay: 900ms;
}
.menu__card--10 {
  animation-delay: 1000ms;
}

.menu__card__checked {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: #fff;
  z-index: 1;
  overflow: hidden;
  background-color: rgb(153, 226, 208);
  border-radius: 0 1em 1em 0;
  height: 4.2em;
  width: 4.2em;
  right: -4.2em;
  transform-origin: right;
  overflow: hidden;
  transition: transform 500ms;
}

@keyframes menu-card {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes menu-card-checked {
  0% {
    transform: translateX(4.2em);
  }
  100% {
    transform: translateX(0);
  }
}
.loader {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: hwb(0 100% 0%/0.9);
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  transform-origin: left;
  animation: loader 0.9ms 4.2s forwards;
}

@keyframes loader {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.box {
  animation: animation-box 1s linear 8;
}

@keyframes animation-box {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-3em);
  }
}
.square-1 {
  position: absolute;
  width: 3em;
  height: 3em;
  opacity: 0;
  border-radius: 0.3em;
  background: rgb(146, 87, 219);
  transform-origin: bottom right;
  animation: 3s cubic-bezier(0.77, 0.02, 0.9, 0.62) 2 animation-square;
}

.square-2 {
  position: absolute;
  width: 3em;
  height: 3em;
  opacity: 0;
  border-radius: 0.3em;
  background: rgb(255, 121, 218);
  transform-origin: bottom right;
  animation-delay: 1s;
  animation: 3s cubic-bezier(0.77, 0.02, 0.9, 0.62) 1s 2 animation-square;
}

.square-3 {
  position: absolute;
  width: 3em;
  height: 3em;
  opacity: 0;
  border-radius: 0.3em;
  background: rgb(153, 226, 208);
  transform-origin: bottom right;
  animation-delay: 2s;
  animation: 3s cubic-bezier(0.77, 0.02, 0.9, 0.62) 2s 2 animation-square;
}

@keyframes animation-square {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  33.4% {
    transform: rotate(90deg);
    opacity: 1;
  }
  33.5% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.fonc {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: none;
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.fonc__liste {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: auto;
  padding-left: 2em;
  padding-right: 1.4em;
  margin: 2em 0 4em 0;
  gap: 1.5em;
}
@media screen and (min-width: 1000px) {
  .fonc__liste {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: rgb(63, 63, 63);
  color: #fff;
  padding: 1.6em 1.4em 1.8em 1.4em;
}

.footer__liens__liste {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer__liens__liste i {
  width: 1.6em;
}
@media screen and (min-width: 768px) {
  .footer__liens__liste {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    align-self: center;
  }
}

.footer__liens {
  margin-bottom: 0.5em;
}
.footer__liens:hover {
  color: rgb(255, 121, 218);
}
.footer__liens__click {
  font-size: 1em;
  font-weight: 400;
  color: #fff;
  font-family: "roboto";
  margin-bottom: 0.5em;
}
.footer__liens__click:hover {
  color: rgb(255, 121, 218);
}

.header__nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3.3rem;
  position: relative;
  padding-top: 10px;
  margin: 0;
  box-shadow: 0px 0px 6px #a1a1a1;
}

.menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 1.7em 0 1em;
  background-color: hsl(0deg, 0%, 93%);
}
.menu__head {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  background-color: hsl(0deg, 0%, 93%);
  z-index: 1;
  padding: 2em 1.2em;
  border-radius: 2.5em 2.5em 0 0;
  top: 17.45em;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 805px;
}

.menu__head__titre {
  font-size: 1.7em;
  font-weight: 400;
  color: black;
  font-family: "Shrikhand";
}

.menu__section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
.menu__section__titre {
  font-size: 1em;
  font-weight: 400;
  color: black;
  font-family: "roboto";
  text-transform: uppercase;
}
.menu__section__underscore {
  margin: 5px 0;
  width: 2.5em;
  height: 3px;
  background-color: rgb(153, 226, 208);
}

.menu__section__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0.5em 0 1.6em 0;
}

.rech {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #e0e0e0;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1000px) {
  .rech {
    border-radius: 0 0 2em 2em;
  }
}

.rech__desc {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: hsl(0deg, 0%, 93%);
  height: auto;
  width: 100%;
}
@media screen and (min-width: 1000px) {
  .rech__desc {
    border-radius: 0 0 2em 2em;
  }
}
.rech__desc__titre {
  font-size: 1.5em;
  font-weight: 500;
  color: black;
  font-family: "roboto";
  text-align: center;
  margin-top: 1em;
  margin-bottom: 0.6em;
  width: 70%;
}
.rech__desc__p {
  font-size: 1.1em;
  font-weight: 300;
  color: black;
  font-family: "roboto";
  text-align: center;
  width: 90%;
}

.resto {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: hsl(0deg, 0%, 93%);
  max-width: 1000px;
}
@media screen and (min-width: 1000px) {
  .resto {
    border-radius: 2em 2em 0 0;
  }
}
.resto__liste {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: auto;
  padding-left: 1.3em;
  padding-right: 1.3em;
  margin: 1.4em 0 3em 0;
  gap: 1.2em;
}
@media screen and (min-width: 768px) {
  .resto__liste {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-template-rows: auto;
  }
}

.rech__loc {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3.2em;
}
.rech__loc__ville {
  font-size: 1em;
  font-weight: 500;
  color: #626262;
  font-family: "roboto";
  margin-left: 1.2em;
}

.rech__desc__explore {
  position: relative;
  height: 3.6em;
  padding: 0em 1.6em;
  border-radius: 2em;
  background: linear-gradient(173deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 90%);
  box-shadow: 0 5px 12px;
  color: rgb(177, 177, 177);
  margin: 2em 0 3em 0;
  border: none;
}
.rech__desc__explore:hover {
  filter: brightness(110%);
  color: #656565;
}
.rech__desc__explore a {
  font-size: 1.1em;
  font-weight: 500;
  color: white;
  font-family: "roboto";
}

.menu__bouton {
  height: 3.6em;
  padding: 0em 3.5em;
  border-radius: 2em;
  width: fit-content;
  background: linear-gradient(173deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 90%);
  box-shadow: 0 5px 12px;
  color: rgb(177, 177, 177);
  margin: 0em 0 3em 0;
  border: none;
}
.menu__bouton:hover {
  filter: brightness(110%);
  color: #656565;
}
.menu__bouton a {
  font-size: 1.1em;
  font-weight: 500;
  color: white;
  font-family: "roboto";
}

.fonc__card__click, .rech__bouton__click, .resto__card__click {
  display: block;
  z-index: 1;
}
.fonc__card__click:after, .rech__bouton__click:after, .resto__card__click:after {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  content: "";
}

.header__nav__back-button {
  position: absolute;
  left: 1.5em;
  color: #000;
}

.resto__card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: none;
  width: 100%;
  height: 15.8em;
  background-color: white;
  border-radius: 0.8em;
  position: relative;
  box-shadow: 0 5px 12px rgba(177, 177, 177, 0.4);
  padding: 0;
}
.resto__card__img {
  height: 70%;
  width: auto;
  object-fit: cover;
  margin: 0;
  border-radius: 0.8em 0.8em 0 0;
}
.resto__card__new {
  font-size: 0.9em;
  font-weight: 500;
  color: #278870;
  font-family: "roboto";
  position: absolute;
  padding: 0.4em 1em;
  border-radius: 0.2em;
  top: 1em;
  right: 1em;
  background-color: rgb(153, 226, 208);
}
.resto__card:hover {
  box-shadow: 0 5px 12px rgb(177, 177, 177);
}

.resto__card__banner {
  padding: 1em 1em;
}
.resto__card__banner__titre {
  font-size: 1.1em;
  font-weight: 600;
  color: black;
  font-family: "roboto";
}
.resto__card__banner__loc {
  font-size: 1em;
  font-weight: 300;
  color: black;
  font-family: "roboto";
  margin-top: 0.3em;
}

.fonc__card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 25em;
  border: none;
  border-radius: 1.2em;
  position: relative;
  box-shadow: 0 5px 12px rgba(177, 177, 177, 0.4);
  background-color: hsl(0deg, 0%, 93%);
  height: 4.5em;
}
.fonc__card__titre {
  font-size: 1em;
  font-weight: 500;
  color: black;
  font-family: "roboto";
  margin-left: 1.5em;
}
.fonc__card i {
  font-size: 1.2em;
  color: rgb(149, 149, 149);
  margin-left: 1.8em;
}
.fonc__card__num {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
  font-weight: 500;
  color: white;
  font-family: "roboto";
  position: absolute;
  left: -1em;
  background-color: rgb(146, 87, 219);
  height: 1.8em;
  width: 1.8em;
  border-radius: 1.8em;
}
.fonc__card:hover {
  background-color: rgba(146, 87, 219, 0.2);
  box-shadow: 0 5px 12px rgb(177, 177, 177);
}
.fonc__card:hover i {
  color: rgb(146, 87, 219);
}

.menu__card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  background-color: #fff;
  box-shadow: 0 5px 12px rgba(177, 177, 177, 0.4);
  width: 100%;
  opacity: 0;
  overflow: hidden;
  margin-bottom: 0.9em;
  border-radius: 1em;
  padding: 0.8em 0 0.8em 0.7em;
}
.menu__card:hover .menu__card__checked {
  transform: translateX(-4.2em);
}
.menu__card:hover .fa-circle-check {
  transform: rotate(2turn);
  transition-duration: 500ms;
}
.menu__card:hover .menu__card__price {
  transform: translateX(-4.2em);
}
.menu__card:hover .menu__card__titre {
  margin-right: 8em;
}
.menu__card:hover .menu__card__desc {
  margin-right: 10em;
}

.menu__card__price {
  font-size: 1em;
  font-weight: 500;
  color: black;
  font-family: "roboto";
  position: absolute;
  right: 1.5em;
  bottom: 0.8em;
  transition: transform 500ms;
}
.menu__card__titre {
  font-size: 1.1em;
  font-weight: 500;
  color: black;
  font-family: "roboto";
  width: auto;
  margin-right: 4em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  word-wrap: break-Word;
  overflow: hidden;
}
.menu__card__desc {
  font-size: 0.9em;
  font-weight: 300;
  color: black;
  font-family: "roboto";
  display: -webkit-box;
  margin-top: 0.3em;
  margin-right: 4.5em;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  word-wrap: break-Word;
  overflow: hidden;
}

.header__nav__logo {
  width: 160px;
}

.footer__logo {
  font-size: 1.4em;
  font-weight: 400;
  color: #fff;
  font-family: "Shrikhand";
  margin-bottom: 0.7em;
}

.section__titre {
  font-size: 1.5em;
  font-weight: 600;
  color: black;
  font-family: "roboto";
  margin: 2em 0 0 0.8em;
}

.restos__banner__img {
  width: 100%;
  height: 19.7em;
  z-index: 0;
  /* max-height: 25em; */
  object-fit: cover;
}

/*# sourceMappingURL=style.css.map */
