.recherche__description__explore {
    @include flex;
    position: relative;
    height: 3.1em;
    padding: 0 1.6em;    
    border-radius: 2em;
    background: $btn-back-rad;
    box-shadow: $btn-shadow;
    color: $color-shadow;
    margin: 2em 0 3em 0;
    border: none;
    &:hover {
        filter: brightness(110%);
        color: $color-shadow-darker;
    }
    & a {
        @include font(1em,500,white); 
    }
}

.menu__bouton {
    height: 3.6em;
    padding: 0em 3.5em;    
    border-radius: 2em;
    width: fit-content;
    background: $btn-back-rad;
    box-shadow: $btn-shadow;
    color: $color-shadow;
    margin: 0em 0 3em 0;
    border: none;
    &:hover {
        filter: brightness(110%);
        color: $color-shadow-darker;
    }
    & a {
        @include font(1.1em,500,white); 
    }
}


.fonctionnement__card__click, .recherche__bouton__click, .resto__card__click{
    display: block;
    z-index: 1;
    &:after {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        content:'';
    }
}

.header__nav__back-button {
    position: absolute;
    left: 1.5em;
    color: #000;

}

