.rech__loc {
    display: flex;        
    width: 100%;
    height: 3.2em;
    align-items: center;
    justify-content: center;    
    &__ville {
        margin-left: 1.2em;
        font-weight: 500;
        font-size: 1em;
        color: rgb(87, 87, 87);
    }    
}

.rech__desc__explore {
    height: 3.6em;
    padding: 0em 1.4em;    
    border-radius: 2em;
    background: $btn-back-rad;
    box-shadow: $btn-shadow;
    color: $color-shadow;
    margin: 2em 0 1.5em 0;
    border: none;
    &:hover {
        filter: brightness(110%);
        color: $color-shadow-darker;
    }
    & a {
    font-size: 1.1em;
    font-weight: 500;
    color: white;    
    }
}
