.fonctionnement__card {
    @include flex($dir:row,$jc:flex-start);
    width: 100%;
    max-width: 25em;
    border: none;
    border-radius: 1.2em;
    position: relative;
    box-shadow: $btn-shadow $color-shadow-lighter;
    background-color: $color-back;
    height: 4.5em;

    &__titre {
        @include font;
        margin-left: 1.5em;
    }
    & i {
        font-size: 1.2em;
        color: $color-text-alt;
        margin-left: 1.8em;
    }
    &__num {
        @include flex();
        @include font(0.9em,500,white);
        position: absolute;
        left: -1em;
        background-color: $color-pri;
        height: 1.8em;
        width: 1.8em;
        border-radius: 1.8em;
    }
    &:hover {
        background-color: $color-pri-light;
        box-shadow: $btn-shadow $color-shadow;
        i {
            color: $color-pri;
        }
    }
}