.menu__card {
    @include flex($ai:flex-start);
    position: relative;
    background-color: #fff;
    box-shadow: $btn-shadow $color-shadow-lighter;
    width: 100%;
    opacity: 0;
    overflow: hidden;
    margin-bottom: 0.9em;
    border-radius: 1em;
    padding: 0.8em 0 0.8em 0.7em;
    &:hover .menu__card__checked {
        transform: translateX(-4.2em);
    }
    &:hover .fa-circle-check{
        transform: rotate(2turn);
        transition-duration: $anim-menu-card-duree-down;
    } 
    &:hover .menu__card__price {
        transform: translateX(-4.2em);
    }
    &:hover .menu__card__titre {
        margin-right: 8em;
    }
    &:hover .menu__card__desc {
        margin-right: 10em;
    }
} 

.menu__card {

    &__price {
        @include font;
        position: absolute;
        right: 1.5em;
        bottom: 0.8em;
        transition: transform $anim-menu-card-duree-down;
    }
    &__titre {
        @include font(1.1em);
        width: auto;
        margin-right: 4em;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        word-wrap: break-Word;
        overflow: hidden;
    }
    &__desc {
        @include font($si:0.9em,$wei:300);
        display: -webkit-box;
        margin-top: 0.3em;
        margin-right: 4.5em;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        word-wrap: break-Word;
        overflow: hidden;
    }
}

.menu__card {
    animation: menu-card $anim-menu-card-duree forwards;
    @for $i from 1 through $nombre-menu-card {
      &--#{$i} {
          animation-delay: $anim-menu-card-delay * $i;
       }
    }
}

.menu__card__checked {
    @include flex;
    position: absolute;
    color: #fff;
    z-index: 1;
    overflow: hidden;
    background-color: $color-ter;
    border-radius: 0 1em 1em 0;
    height: 4.5em;
    width: 4.2em;
    right: -4.2em;
    transform-origin: right;
    overflow: hidden;    
    transition: transform $anim-menu-card-duree-down;
}


@keyframes menu-card {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
} 

@keyframes menu-card-checked {
    0% {
        transform: translateX(4.2em);
    }
    100% {
        transform: translateX(0);
    }
} 
  