.resto__card {
    @include flex(column,nowrap,start,normal);
    width: 100%;
    height: 15.8em;
    background-color: white;
    border-radius: 0.8em;
    position: relative;
    box-shadow: $btn-shadow $color-shadow-lighter;
    padding: 0;
    
    &__img {
        height: 70%;
        width: auto;
        object-fit: cover;
        margin: 0;
        border-radius: 0.8em 0.8em 0 0;
    }
    &__new {
        @include font(0.9em,500,$color-ter-darker);
        position: absolute;
        padding: 0.4em 1em ;
        border-radius: 0.2em;
        top: 1em;
        right: 1em;
        background-color: $color-ter;
    }
    &:hover {
        box-shadow: $btn-shadow $color-shadow;
    }
    
}
.resto__card__banner {
    padding: 1em 1em;
    &__titre {
        @include font(1.1em,600)
    }
    &__loc {
        @include font(1em, 300);
        margin-top:0.3em;
    }
}

.coeur__index {
    position: relative;
    & .fa-solid {
      position:absolute;
      z-index: 2;
      line-height: 24px;
      right: 1.5em;
      bottom: 1em;
      color:transparent;
      background:-webkit-linear-gradient(90deg, #9356DC 0%, #FF79DA 100%);
      background-clip:text;
      -webkit-background-clip:text;
      opacity: 0;
      transition: opacity 400ms ease; 
        &:hover {
          opacity: 1;
        }
    }
    .fa-regular {
      position: absolute;
      z-index: 1;
      line-height: 24px;
      right: 1.5em;
      bottom: 1em;
      }
  } 
  