.resto__card__coeur {
    & i{
        position: absolute;
        bottom: 1.5em;
        right: 1em;
    }
    
  
  
    .box {
    position: relative;
    background: var(--dark);
    border: 0.25rem solid var(--dark);
    height: 8rem;
    width: 8rem;
    outline: 0;
    overflow: hidden; /* Set to none to see fill square outside box */
  }
  .box::before {
    content: url(/images/st-white.svg);
    /* content: "FILL";
    font-size: 2rem;
    color: var(--background);
    font-family: Arial, Helvetica, sans-serif; */
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .box::after {
    content: "";
    position: absolute;
    bottom: -50%; /* Center sauare */
    left: -50%; /* Center sauare */
    height: 200%;
    width: 200%;
    background-color: var(--background);
    border-radius: 35%; /* Smooth edges to appear like liquid */
    animation: spin 6s ease-in-out infinite; /* Set to forwards to freeze on last frame */
  }
  
  @keyframes spin {
    0% {
      transform: translateY(0) rotate(0deg);
    }
    100% {
      transform: translateY(-100%) rotate(400deg);
    }
  }
    }