.coeur__index {
  position: relative;

  & .fa-solid {
    position:absolute;
    z-index: 2;
    line-height: 24px;
    right: 1.5em;
    bottom: 1em;
    color:transparent;
    background:-webkit-linear-gradient(90deg, #9356DC 0%, #FF79DA 100%);
    background-clip:text;
    -webkit-background-clip:text;
    opacity: 0;
    transition: opacity 400ms ease; 
      &:hover {
        opacity: 1;
      }
  }
  .fa-regular {
    position: absolute;
    z-index: 1;
    line-height: 24px;
    right: 1.5em;
    bottom: 1em;
    }
} 

.coeur__restos {
  position: relative;
  right: 1.5em;
  & .fa-solid {
    position: absolute;
    z-index: 2;
    right: 0;
    bottom: -0.5em;    
    line-height: 24px;
    color:transparent;
    background:-webkit-linear-gradient(90deg, #9356DC 0%, #FF79DA 100%);
    background-clip:text;
    -webkit-background-clip:text;
    opacity: 0;
    transition: opacity 400ms ease; 
      &:hover {
        opacity: 1;
      }
  }
  .fa-regular {
    position: absolute;
    z-index: 1;
    line-height: 24px;
    right: 0;
    bottom: -0.5em;
  }

  
}
.menu__card {
  animation: menu-card $anim-menu-card-duree forwards;
  @for $i from 1 through $nombre-menu-card {
    &--#{$i} {
        animation-delay: $anim-menu-card-delay * $i;
     }
}
}


.menu__card__checked {
  @include flex;
  position: absolute;
  color: #fff;
  z-index: 1;
  overflow: hidden;
  background-color: $color-ter;
  border-radius: 0 1em 1em 0;
  height: 4.2em;
  width: 4.2em;
  right: -4.2em;
  transform-origin: right;
  overflow: hidden;    
  transition: transform $anim-menu-card-duree-down;
}


@keyframes menu-card {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
} 

@keyframes menu-card-checked {
  0% {
    transform: translateX(4.2em);
  }
  100% {
    transform: translateX(0);
  }
} 