@mixin flex($dir:column,$wrap:wrap,$jc:center,$ai:center)
{
 display:flex;
 flex-direction:$dir;
 flex-wrap: $wrap;
 justify-content: $jc;
 align-items: $ai;

}

@mixin font($si: 1em,$wei: 500,$clr: black, $fam:'roboto') 
{
    font-size: $si;
    font-weight: $wei;
    color: $clr;
    font-family: $fam;

}