@mixin flex($dir:column,$wrap:wrap,$jc:center,$ai:center)
{
 display:flex;
 flex-direction:$dir;
 flex-wrap: $wrap;
 justify-content: $jc;
 align-items: $ai;

}

@mixin font($si: 1em,$wei: 500,$clr: black, $fam:'roboto') 
{
    font-size: $si;
    font-weight: $wei;
    color: $clr;
    font-family: $fam;

}

@mixin media($_key) {
  @media screen and (min-width: map-get($breakpoints, $_key)) {
    &{ @content; }
  }
}

@mixin square-animation(){
  position: absolute;
  width: 3em;
  height: 3em;
  opacity: 0;
  border-radius: 0.3em;  
  transform-origin: bottom right;  
}