$color-pri: rgb(146, 87, 219);
$color-pri-light: rgba($color-pri, 0.2);
$color-sec: rgb(255, 121, 218);
$color-ter: rgb(153, 226, 208);
$color-ter-darker: darken($color-ter, $amount: 40%);

$color-back: hsl(0, 0%, 96%);
$color-back-footer: rgb(63, 63, 63); 
$color-text-alt:rgb(149, 149, 149);


$color-shadow: rgb(177, 177, 177);
$color-shadow-lighter: rgba($color-shadow, 0.4);
$color-shadow-darker: darken($color-shadow, $amount: 30%);


$btn-shadow: 0 5px 12px;
$btn-back-rad: linear-gradient(173deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 90%);


$margin-titres-sec: 2em 0 0 0.8em;

$max-width-mini: 800px;
$max-width-maxi: 1000px;

$breakpoints: (
    mobile:768px,
    tablette-down:992px,
    tablette:1000px
);

$anim-menu-card-duree: 1000ms;
$anim-menu-card-duree-down: 500ms;
$nombre-menu-card: 10;
$anim-menu-card-delay: $anim-menu-card-duree / $nombre-menu-card;

$square-transition:cubic-bezier(.50,.02,.9,.62);
$square-iteration: 2;
$square-animation-duree: 3s;

