.fonc {
    @include flex($ai:none);
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    &__liste{
        @include flex;
        width: auto;
        padding-left: 2em;
        padding-right: 1.4em;
        margin: 2em 0 4em 0;
        gap: 1.5em
    }
    &__titre {
        @include font(1.5em,600);
        margin: $margin-titres-sec ;
    }
}