.fonctionnement {
    @include flex($ai:normal);
    width: 100%;
    max-width: $max-width-maxi;
    margin-left: auto;
    margin-right: auto;
    &__liste{
        @include flex;
        width: auto;
        padding-left: 2em;
        padding-right: 1.4em;
        margin: 2em 0 4em 0;
        gap: 1.5em;
        @include media(tablette) {
            @include flex(row, nowrap,space-between, center);
        }
    }
    
    
}