.footer {
    @include flex($jc:flex-start, $ai:flex-start);
    background-color: $color-back-footer;
    color: #fff;
    padding: 1.6em 1.4em 1.8em 1.4em;
    &__logo {
        @include font(1.4em,400,#fff,'Shrikhand');
        margin-bottom: 0.7em;    
    }
}

.footer__liens__liste {
    @include flex($jc:flex-start, $ai:flex-start);
    & i {
        width: 1.6em;
    }
    @include media(mobile) {
        @include flex($dir:row,$jc:space-between);
        width: 90%;
        align-self: center;
    }


}
.footer__liens {    
    margin-bottom: 0.5em;
    &:hover {
        color: $color-sec;
    }
    &__click {
    @include font($si: 1em,$wei: 400,);
        margin-bottom: 0.5em; 
        color: #fff;
        &:hover {
        color: $color-sec;
        }
    }

}