.menu {
    @include flex();
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 1.7em 0 1em;
    background-color: $color-back;
    &__head {
        @include flex($ai:space-between);
        @include font(0.9em,400,black,'Shrikhand');
        position: absolute;
        background-color: $color-back;
        z-index: 1;
        padding: 2em 1.2em;
        border-radius: 2.5em 2.5em 0 0 ;
        top: 19.65em;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        max-width: 1010px;
    }
}
.menu__section {
    @include flex($ai:flex-start);
    width: 100%;
    &__titre {
        @include font(1em,$wei:400);
        text-transform: uppercase;
    }
    &__underscore {
        margin: 5px 0;
        width: 2.5em;
        height: 3px;
        background-color: $color-ter;
    }

}

.menu__section__list {
    @include flex;
    width: 100%;
    margin: 0.5em 0 1.6em 0;
}