.rech {
    @include flex;
    width: 100%;
    background-color: darken($color-back, 8%);
            
}

.rech__desc {
    @include flex;
    background-color: $color-back;
    height: 18em;
    width: 100%;
    &__titre {
        text-align: center;
        font-size: 1.5em;
        margin-bottom: 0.6em;
        width: 70%;
    }
    &__p {
        text-align: center;
        width: 90%;
        font-size: 1.1em;
        font-weight: 300;
        
    }
}