.resto {
    @include flex($ai:none);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: $color-back;
    &__liste {
        @include flex($dir:row);
            width: auto;
            padding-left: 1.3em;
            padding-right: 1.3em;
            margin: 1.4em 0 3em 0;
            gap: 1em;
        @include media(mobile) {
            display: grid;
            grid-template-columns: 49% 49%;
            grid-template-rows: auto;
        }
        @include media(tablette) {
            @include flex(row, nowrap);
    }
    
    &__titre {
        @include font(1.5em,600);
        margin: $margin-titres-sec ;
    }
    }
}